@media screen and (max-width: 1200px) {
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-text .qr-code-title {
    font-size: 25px;
    line-height: 1.33;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-text .qr-code-description {
    font-size: 20px;
    line-height: 1.29;
  }
}
@media screen and (max-width: 868px) {
  .container .header {
    display: none;
  }
  .container .home__section .mobile-header {
    display: flex;
  }
  .container .home__section .home__banner .home__banner__text {
    max-width: 90%;
  }
  .container .home__section .home__banner .home__banner__text .home__banner_title {
    font-size: 24px;
    line-height: 1.29;
  }
  .container .home__section .home__banner .home__banner__text .home__banner__sub_title {
    font-size: 12px;
    line-height: 1.29;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code {
    margin: 0;
    grid-template-columns: 1fr;
    padding: 10px 0 40px 0;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-header .qr-text {
    font-size: 40px;
    line-height: 1;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description {
    flex-direction: column;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-img {
    margin: 20px 0;
    width: 130px;
    height: 130px;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-img img {
    height: 100%;
    width: 100%;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-img p {
    display: none;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-text {
    padding: 0;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-text .qr-code-title {
    font-size: 16px;
    line-height: 1.33;
  }
  .container .home__section .footer-location .footer-location-inner .qr-code .qr-code-description .qr-code-text .qr-code-description {
    font-size: 14px;
    line-height: 1.29;
  }
  .container .home__section .banner .banner-text h2 {
    font-size: 24px;
    line-height: 1.29;
  }
  .container .home__section .banner .banner-text p {
    font-size: 12px;
  }
  .container .home__section .image-gallery .wrapper {
    max-width: 88%;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .container .home__section .image-gallery .wrapper .carousel {
    height: 450px;
  }
  .container .home__section .image-gallery .carousel .card {
    height: 450px;
  }
  .container .home__section .image-gallery .carousel .card .img {
    height: 100%;
    width: 100%;
  }
  .container .home__section .image-gallery .card .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 868px) and (max-width: 900px) {
  .container .home__section .image-gallery .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 868px) and (max-width: 600px) {
  .container .home__section .image-gallery .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
@media screen and (max-width: 868px) {
  .container .home__section .banner-two {
    height: 500px;
  }
  .container .home__section .banner-two .banner-text h2 {
    font-size: 24px;
    line-height: 1.29;
  }
  .container .home__section .banner-two .banner-text p {
    font-size: 16px;
    line-height: 1.29;
  }
}
@media screen and (max-width: 768px) {
  .container .header {
    display: none;
  }
  .container .banner {
    height: 300px;
  }
  .container .banner .banner-text {
    max-width: 90%;
    padding: 20px;
  }
  .container .banner .banner-text h2 {
    font-size: 16px;
    line-height: 1.29;
  }
  .container .banner .banner-text p {
    font-size: 12px;
  }
  .container .banner-two {
    height: 300px;
  }
  .container .banner-two .banner-text h2 {
    font-size: 24px;
    line-height: 1.29;
  }
  .container .banner-two .banner-text p {
    font-size: 12px;
    line-height: 1.29;
  }
  .container .footer .footer-inner .footer-heading {
    flex-direction: column;
  }
  .container .footer .footer-inner .footer-heading .footer-heading-title {
    margin: 10px 0;
  }
}
@media screen and (max-width: 668px) {
  .container .header {
    display: none;
  }
  .container .home__section .home__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .home__section .home__banner .home__banner__text .home__banner_title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .container .home__section .home__banner .home__banner__text .home__banner__sub_title {
    margin: 0;
    font-size: 12px;
  }
  .container .home__section .home__banner .location-calendar {
    display: none;
  }
  .container .home__section .home__banner .mobile-callendar {
    display: flex;
  }
  .container .banner {
    height: 300px;
  }
  .container .banner .banner-text {
    max-width: 90%;
  }
  .container .banner .banner-text h2 {
    font-size: 16px;
    line-height: 1.29;
  }
  .container .banner .banner-text p {
    font-size: 12px;
  }
  .container .image-gallery .wrapper {
    max-width: 88%;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .container .image-gallery .wrapper .carousel {
    height: 350px;
  }
  .container .image-gallery .carousel .card {
    height: 350px;
  }
  .container .image-gallery .carousel .card .img {
    height: 100%;
    width: 100%;
  }
  .container .image-gallery .card .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 668px) and (max-width: 900px) {
  .container .image-gallery .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 668px) and (max-width: 600px) {
  .container .image-gallery .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
@media screen and (max-width: 668px) {
  .container .testimonial .testimonial-heading {
    text-align: center;
  }
  .container .testimonial .testimonial-heading h1 {
    font-size: 14px;
  }
  .container .testimonial .wrapper .carousel .card .img img {
    width: 150px;
    height: 150px;
  }
  .container .testimonial .wrapper .carousel .card .card-description {
    padding: 0 10px;
  }
  .container .testimonial .wrapper .carousel .card .card-description h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 668px) {
  .container .footer .footer-inner .footer-heading .footer-heading-title h2 {
    font-size: 12px;
  }
  .container .footer .footer-inner .footer-description .footer-description-block .footer-description-header {
    font-size: 14px;
  }
  .container .footer .footer-inner .footer-description .footer-description-block .footer-description-text {
    font-size: 14px;
  }
  .container .footer .footer-inner .footer-description .footer-description-subblock .footer-description-subheader {
    font-size: 12px;
  }
  .container .footer .footer-inner .footer-description .footer-description-subblock .footer-description-subtext {
    font-size: 12px;
  }
}
@media screen and (max-width: 668px) {
  .container .footer-location .footer-location-inner h2 {
    font-size: 14px;
  }
  .container .footer-location .footer-location-inner .india-cities h2 {
    font-size: 14px;
  }
  .container .footer-location .footer-location-inner .india-cities .india-city .one .city,
  .container .footer-location .footer-location-inner .india-cities .india-city .two .city {
    font-size: 14px;
  }
  .container .footer-location .footer-location-inner .other-country .city h2 {
    font-size: 14px;
  }
  .container .footer-location .footer-location-inner .other-country .city p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */