@media screen and (max-width: 1200px) {
  .container {
    .home-section {
      .footer-location {
        .footer-location-inner {
          .qr-code {
            .qr-code-description {
              .qr-code-text {
                .qr-code-title {
                  font-size: 25px;
                  line-height: 1.33;
                }
                .qr-code-description {
                  font-size: 20px;
                  line-height: 1.29;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 868px) {
  .container {
    .header {
      display: none;
    }
    .home-section {
      .mobile-header {
        display: flex;
      }

      .home-banner {
        .home-banner-text {
          max-width: 90%;
          .home-banner-title {
            font-size: 24px;
            line-height: 1.29;
          }
          .home-banner-sub-title {
            font-size: 12px;
            line-height: 1.29;
          }
        }
      }

      .footer-location {
        .footer-location-inner {
          .qr-code {
            margin: 0;
            grid-template-columns: 1fr;
            padding: 10px 0 40px 0;
            .qr-header {
              .qr-text {
                font-size: 40px;
                line-height: 1;
              }
            }
            .qr-code-description {
              flex-direction: column;

              .qr-code-img {
                margin: 20px 0;
                width: 130px;
                height: 130px;
                img {
                  height: 100%;
                  width: 100%;
                }
                p {
                  display: none;
                }
              }

              .qr-code-text {
                padding: 0;
                .qr-code-title {
                  font-size: 16px;
                  line-height: 1.33;
                }
                .qr-code-description {
                  font-size: 14px;
                  line-height: 1.29;
                }
              }
            }
          }
        }
      }

      .banner {
        .banner-text {
          h2 {
            font-size: 24px;
            line-height: 1.29;
          }
          p {
            font-size: 12px;
          }
        }
      }

      .image-gallery {
        .wrapper {
          max-width: 88%;
          width: 100%;
          height: 100%;
          position: relative;
        }

        .wrapper .carousel {
          height: 450px;
        }

        .carousel .card {
          height: 450px;
        }

        .carousel .card .img {
          height: 100%;
          width: 100%;
        }

        .card .img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media screen and (max-width: 900px) {
          .wrapper .carousel {
            grid-auto-columns: calc((100% / 2) - 9px);
          }
        }

        @media screen and (max-width: 600px) {
          .wrapper .carousel {
            grid-auto-columns: 100%;
          }
        }
      }

      .banner-two {
        height: 500px;
        .banner-text {
          h2 {
            font-size: 24px;
            line-height: 1.29;
          }
          p {
            font-size: 16px;
            line-height: 1.29;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .header {
      display: none;
    }

    .banner {
      height: 300px;
      .banner-text {
        max-width: 90%;
        padding: 20px;
        h2 {
          font-size: 16px;
          line-height: 1.29;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .banner-two {
      height: 300px;
      .banner-text {
        h2 {
          font-size: 24px;
          line-height: 1.29;
        }
        p {
          font-size: 12px;
          line-height: 1.29;
        }
      }
    }

    .footer {
      .footer-inner {
        .footer-heading {
          flex-direction: column;
          .footer-heading-title {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 668px) {
  .container {
    .header {
      display: none;
    }

    .home-section {
      .home-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .home-banner-text {
          .home-banner-title {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .home-banner-sub-title {
            margin: 0;
            font-size: 12px;
          }
        }

        .location-calendar {
          display: none;
        }
        .mobile-callendar {
          display: flex;
        }
      }
    }

    .banner {
      height: 300px;
      .banner-text {
        max-width: 90%;
        h2 {
          font-size: 16px;
          line-height: 1.29;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .image-gallery {
      .image-gallery-heading {
        padding: 30px 10px;
      }
      .wrapper {
        max-width: 88%;
        width: 100%;
        height: 100%;
        position: relative;
        .carousel {
          height: 350px !important;
          border-radius: 14px !important;
          .card {
            height: 350px;
            .img {
              height: 100%;
              width: 100%;

              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }

      @media screen and (max-width: 900px) {
        .wrapper .carousel {
          grid-auto-columns: calc((100% / 2) - 9px);
        }
      }

      @media screen and (max-width: 600px) {
        .wrapper .carousel {
          grid-auto-columns: 100%;
        }
      }
    }

    .testimonial {
      .testimonial-heading {
        text-align: center;
        h1 {
          font-size: 14px;
        }
      }
      .wrapper {
        .carousel {
          .card {
            .img {
              img {
                width: 150px;
                height: 150px;
              }
            }

            .card-description {
              padding: 0 10px;
              h5 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .footer {
      .footer-inner {
        .footer-heading {
          .footer-heading-title {
            h2 {
              font-size: 12px;
            }
          }
        }
        .footer-description {
          .footer-description-block {
            .footer-description-header {
              font-size: 14px;
            }
            .footer-description-text {
              font-size: 14px;
            }
          }

          .footer-description-subblock {
            .footer-description-subheader {
              font-size: 12px;
            }
            .footer-description-subtext {
              font-size: 12px;
            }
          }
        }
      }
    }

    .footer-location {
      .footer-location-inner {
        h2 {
          font-size: 14px;
        }
        .india-cities {
          h2 {
            font-size: 14px;
          }

          .india-city {
            .one,
            .two {
              .city {
                font-size: 14px;
              }
            }
          }
        }

        .other-country {
          .city {
            h2 {
              font-size: 14px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
